<app-header></app-header>

<h1>Seja bem-vindo ao curso de Angular!</h1>
<h4 class="text-danger">{{ anuncio }}</h4>

<div class="row">
  <div class="col">
    <app-card-produto
  [foto]="foto"
  [nomeProduto]="nomeProduto"
  [promocao]="promocao"
  [idProduto]="idProduto"
  [dataValidade]='dataValidade'
  [precoProduto]='precoProduto'
    ></app-card-produto>
  </div>
  <div class="col">
    <app-card-produto
  foto="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_8836234a09e6574906f74289d77dd6c0/ionic.png"
  nomeProduto="Curso de Ionic básico"
  [promocao]="true"
  [idProduto]="02"
  dataValidade='2021-12-31'
  [precoProduto]='50.0'
    ></app-card-produto>
  </div>
  <div class="col">
    <app-card-produto
  foto="https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_8836234a09e6574906f74289d77dd6c0/ionic.png"
  nomeProduto="Curso de Ionic avançado"
  [promocao]="false"
  [idProduto]="03"
  dataValidade='2021-12-31'
  [precoProduto]='50.0'
    ></app-card-produto>
  </div>
</div>



<app-footer></app-footer>
<router-outlet></router-outlet>
